.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  body {
    background: #eee;
  }

  header {
    text-align: center;
    position: static;
  }

  main {
    position: relative;

  }

  .tribute-info {
    text-align: center;
  }

  .list{
    position: relative;
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;


  }

  .list > ul > li {
    padding: 10px;
  }

  #img-div {
    background-color: white;
    text-align: center;
  }

  #image {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #image-caption {
    text-align: center;
  }

  footer {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }


